<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>User List | Minia - Minimal Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      content="Premium Multipurpose Admin & Dashboard Template"
      name="description"
    />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" />

    <!-- DataTables -->
    <link
      href="/assets/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Responsive datatable examples -->
    <link
      href="/assets/libs/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Bootstrap Css -->
    <link
      href="/assets/css/bootstrap.min.css"
      id="bootstrap-style"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link
      href="/assets/css/app.min.css"
      id="app-style"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <!-- <body data-layout="horizontal"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">
      <%- include('./includes/header.ejs') %>

      <!-- ========== Left Sidebar Start ========== -->
      <!-- ========== Left Sidebar Start ========== -->
      <%- include('./includes/sidebar.ejs') %>
      <!-- Left Sidebar End -->

      <!-- Left Sidebar End -->

      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="main-content">
        <div class="page-content">
          <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
              <div class="col-12">
                <div
                  class="page-title-box d-sm-flex align-items-center justify-content-between"
                >
                  <h4 class="mb-sm-0 font-size-18">User List</h4>

                  <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                      <li class="breadcrumb-item">
                        <a href="javascript: void(0);">Contacts</a>
                      </li>
                      <li class="breadcrumb-item active">User List</li>
                    </ol>
                  </div>
                </div>
              </div>
            </div>
            <!-- end page title -->

            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="mb-3">
                  <h5 class="card-title">
                    Contact List
                    <span class="text-muted fw-normal ms-2">(834)</span>
                  </h5>
                </div>
              </div>

              <div class="col-md-6">
                <div
                  class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3"
                >
                  <div>
                    <a href="./new-patient" class="btn btn-light"
                      ><i class="bx"></i>New patient</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <!-- end row -->

            <div class="table-responsive mb-4">
              <table
                class="table align-middle datatable dt-responsive table-check nowrap"
                style="
                  border-collapse: collapse;
                  border-spacing: 0 8px;
                  width: 100%;
                "
              >
                <thead>
                  <tr>
                    <th scope="col" style="width: 50px">
                      <div class="form-check font-size-16">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="checkAll"
                        />
                        <label class="form-check-label" for="checkAll"></label>
                      </div>
                    </th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Birthday</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">City</th>
                    <th style="width: 80px; min-width: 80px">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <% patients.forEach(element => { %>
                  <tr>
                    <th scope="row">
                      <div class="form-check font-size-16">
                        <input
                          type="checkbox"
                          class="form-check-input"
                          id="contacusercheck1"
                        />
                        <label
                          class="form-check-label"
                          for="contacusercheck1"
                        ></label>
                      </div>
                    </th>
                    <td>
                      <img
                        src="/assets/images/users/avatar-2.jpg"
                        alt=""
                        class="avatar-sm rounded-circle me-2"
                      />
                      <a href="#" class="text-body"
                        ><%= element.userId.username %></a
                      >
                    </td>
                    <td><%= element.userId.email %></td>
                    <td>31/07/2001</td>
                    <td>06723234454</td>
                    <td>Ferizaj</td>
                    <td>
                      <div class="dropdown">
                        <button
                          class="btn btn-link font-size-16 shadow-none py-0 text-muted dropdown-toggle"
                          type="button"
                          data-bs-toggle="dropdown"
                          aria-expanded="false"
                        >
                          <i class="bx bx-dots-horizontal-rounded"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                          <li>
                            <a
                              class="dropdown-item text-primary"
                              href="./edit-patient/<%= element.id %>"
                              >Update</a
                            >
                          </li>
                          <li>
                            <a
                              class="dropdown-item text-danger"
                              href="./delete-patient/<%= element.id %>"
                              >Delete</a
                            >
                          </li>
                          <li>
                            <a class="dropdown-item" href="#"
                              >Something else here</a
                            >
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
              <!-- end table -->
            </div>
            <!-- end table responsive -->
          </div>
          <!-- container-fluid -->
        </div>
        <!-- End Page-content -->

        <footer class="footer">
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-6">
                <script>
                  document.write(new Date().getFullYear());
                </script>
                © Minia.
              </div>
              <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                  Design & Develop by
                  <a href="#!" class="text-decoration-underline">Themesbrand</a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
      <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="/assets/libs/jquery/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/assets/libs/node-waves/waves.min.js"></script>
    <script src="/assets/libs/feather-icons/feather.min.js"></script>
    <!-- pace js -->
    <script src="/assets/libs/pace-js/pace.min.js"></script>

    <!-- Required datatable js -->
    <script src="/assets/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/assets/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

    <!-- Responsive examples -->
    <script src="/assets/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/assets/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- init js -->
    <script src="/assets/js/pages/datatable-pages.init.js"></script>

    <script src="/assets/js/app.js"></script>
  </body>
</html>
